@font-face {
    font-family: 'Comfortaa-bold';
    src: url('../fonts/Comfortaa-Bold.ttf');
}
@font-face {
    font-family: 'Comfortaa-medium';
    src: url('../fonts/Comfortaa-Medium.ttf');
}
@font-face {
    font-family: 'Comfortaa-regular';
    src: url('../fonts/Comfortaa-Regular.ttf');
}
$font-1:'Comfortaa-bold',sans-serif;
$font-3:'Comfortaa-regular',sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar{
        width: 9px;
    }
    ::-webkit-scrollbar-thumb{
        background: linear-gradient(transparent, #0b5383);
        border-radius: 6px;
    }
}
body{
    background: linear-gradient(to top,rgb(19, 18, 22),rgb(13, 11, 15));
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
html{
    color: #eee;
    font-family: $font-3;
}
.calendar{
    width: 60%;
    margin: 80px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-gap: 80px;
    .month{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .weekdays{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .days{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
    }
    button{
        cursor: pointer;
        background: none;
        border-radius: 50%;
        border: none;
    }
    svg{
        background: none;
        font-size: 1.5rem;
        color: none;
    }
    .current-day{
        background: #1750c9 !important;
    }
    .marked-day{
        background: #f56f85;
    }
    .inactive-day{
        text-align: center;
        padding: 10px;
        border-radius: 40px;
        transition: .3s ease;
        cursor: pointer;
        &:hover{
            border: 1px solid #1750c9;
        }
    }
    .today{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 30px;
        font-family: $font-1;
        color: #f56f85;
    }
    .selectedDate{
        position: absolute;
        top: 30px;
        right: 10px;
        .add-task{
            margin-top: 20px;
            cursor: pointer;
            background: #FFF;
            color: black;
            padding: 20px;
            textarea{
                width: 250px;
                height: 110px;
                resize: none;
                outline: none;
                border: none;
            }
        }
    }
    .memo{
        .title{
            font-size: 1.3rem;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
            margin: 20px 0 30px 0;

        }
        .list{
            max-height: 230px;
            min-width: 300px;
            overflow-y: scroll;
            box-shadow: 2px 0px 23px #1750c9;
            padding: 10px;
            p{
                color: #f56f85;
            }
        }
    }
}

